.cell {
    background-color: red;
}
.test {
    background-color: green;
}

#beId {
    background-color: red;
}
.newTable {
    height: 40px;
    width: 93px;
    text-align: center;
}
.img {
    width: 100px;
    height: auto;
}
.content {
    background-color: grey; 
}

.contentB {
    background-color: grey; 
}

.message {
    visibility: hidden;
}

.messageB {
    visibility: hidden;
}

.container {
    margin: 20px 60px;
}

.column-left, .column-right {
    float: left;
    width: 50%;
}

ul {
    line-height: 1.4;
    list-style-type: none;
    padding-bottom: 20px;
}