.table-skills {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}
.table-thead > th:hover {
    color: rgb(13, 116, 163);
    cursor: pointer;
}
.table-cell {
    padding: 5px 10px;
    border: none;
}
.table-cell-stars {
    width: 150px;
    letter-spacing: 2px;
    text-align: right;
    color: rgb(5, 49, 145);
    transition: letter-spacing 0.75s ease;
}
.row > td {
    padding: 5px 10px;
}
.row:hover > td:last-child {
    letter-spacing: 5px;
    transition: all 0.75s ease;
}
.row:hover {
    background: rgb(211, 211, 211);
}

