* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
body {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;

  }
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 20px;
    padding: 5px;
    margin-right: 40px;
    border-bottom: 2px solid grey;
    font-family: 'Hammersmith One', sans-serif;
}
.space {
    background-color: black; 
}
.background {
    background-image: url(image/galaxy2.jpg);
    background-position: center;
    opacity: 0.8;
    /* opacity: 1; */
    /* width: 3600px; */
    height: 2500px;
}
.container {
    position: fixed;
    height: 550px;
    width: 440px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-buttons {
    background-color: blue;
    position: absolute;
    left: 0;
    transform: translate(-100%, 0);
}
.menu-buttons-one-page {
    position: absolute;
    animation-name: action-left-centre;
    animation-duration: 1s;
    transition-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.menu-buttons-two-page {
    position: absolute;
    animation-name: action-centre-left;
    animation-duration: 1s;
    transition-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.loading-start-window {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 550px;
    width: 440px; 
    opacity: 0;
    background-color: white;
    animation-name: loading-start-window;
    animation-duration: 2s;
    transition-timing-function: ease-out;
}
.fa-hourglass {
    position: relative;
    font-size: 60px;
    line-height: 550px;
    animation-name: rotate-hourglass;
    animation-duration: 2s;
    transition-timing-function: linear;
}

/* LEFT PAGE */
.first-page-active {
    background-color: white;
    height: 550px;
    width: 440px; 
    font-size: 25px;
    position: absolute;
    animation-name: action-left-centre, appear;
    animation-duration: 1s, 1s;
    transition-timing-function: ease-out, ease-out;
    animation-fill-mode: forwards, forwards;
}
.first-page-hidden {
    background-color: white;
    height: 550px;
    width: 440px; 
    font-size: 25px;
    position: absolute;
    animation-name: action-centre-left, disappear;
    animation-duration: 1s, 1s;
    transition-timing-function: ease-out, ease-out;
    animation-fill-mode: forwards, forwards;
}
.left-page-hidden {
    height: 550px;
    width: 440px;
    background-color: orange;
    position: absolute;
    font-size: 25px;
    animation-name: action-left-centre, disappear;
    animation-duration: 1s, 1s;
    transition-timing-function: ease-out, ease-out;
    animation-fill-mode: forwards, forwards;
}
.left-page-active {
    height: 550px;
    width: 440px;
    background-color: orange;
    position: absolute;
    font-size: 25px;
    animation-name: action-centre-left, appear;
    animation-duration: 1s, 1s;
    transition-timing-function: ease-out, ease-out;
    animation-fill-mode: forwards, forwards;
}
/* RIGHT PAGE */
.right-page-hidden {
    background-color: white;
    height: 550px;
    width: 440px;
    position: absolute;
    font-size: 25px;

    animation-name: action-right-centre, disappear;
    animation-duration: 1s, 1s;
    transition-timing-function: ease-out, ease-out;
    animation-fill-mode: forwards, forwards;
}
.right-page-experience {    
    height: 550px;
    width: 440px;
    background-color: white;
    position: absolute;
    font-size: 25px;
    animation-name: action-centre-right, appear;
    animation-duration: 1s, 1s;
    transition-timing-function: ease-out, ease-out;
    animation-fill-mode: forwards, forwards;
}
.right-page-skills {
    height: 550px;
    width: 440px;
    background-color: white;
    position: absolute;
    font-size: 25px;
    animation-name: action-centre-right, appear;
    animation-duration: 1s, 1s;
    transition-timing-function: ease-out, ease-out;
    animation-fill-mode: forwards, forwards;
}
.right-page-hobby {
    height: 550px;
    width: 440px;
    background-color: white;
    position: absolute;
    font-size: 25px;
    animation-name: action-centre-right, appear;
    animation-duration: 1s, 1s;
    transition-timing-function: ease-out, ease-out;
    animation-fill-mode: forwards, forwards;
}
.right-page-contact {
    height: 550px;
    width: 440px;
    background-color: white;
    position: absolute;
    left: 220px; 
    top: 0px;
    font-size: 25px;
    animation-name: action-centre-right, appear;
    animation-duration: 1s, 1s;
    transition-timing-function: ease-out, ease-out;
    animation-fill-mode: forwards, forwards;
}

/* ANIMATIONS */
@keyframes action-left-centre {
    0%   {
        left:-220px; 
        top:0px;
        }
    100%  {
        left:0px; 
        top:0px;
        animation-play-state: paused;
        }
}
@keyframes action-right-centre {
    0%   {
        left:220px; 
        top:0px;
        }
    100%  {
        left:0px; 
        top:0px;
        animation-play-state: paused;
        }
}
@keyframes action-centre-right {
    0%   {
        left:0px; 
        top:0px;
        }
    100%  {
        left:220px; 
        top:0px;
        animation-play-state: paused;
        }
}
@keyframes action-centre-left {
    0%   {
        left:0px; 
        top:0px;
        }
    100%  {
        left:-220px; 
        top:0px;
        animation-play-state: paused;
        }
}
@keyframes disappear {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0.9;
    }
    20% {
        opacity: 0.8;
    }
    30% {
        opacity: 0.7;
    }
    40% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.3;
    }
    80% {
        opacity: 0.2;
    }
    90% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
      animation-play-state: paused;
    }
  }
  @keyframes appear {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
      opacity: 1;
      animation-play-state: paused;
    }
  }
@keyframes rotate-hourglass { 
    0% { 
        transform: rotate(0deg); 
    } 
    50% { 
        transform: rotate(180deg);         
    }
    100% { 
        transform: rotate(180deg); 
        opacity: 0; 
    }
}
@keyframes loading-start-window {
    0%   {
        opacity: 1;
        width: 880px; 
        }
    50%  {
        opacity: 1;
        width: 440px; 
        }
    100%  {
        opacity: 0;
        width: 440px; 
        }
} 
