/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 12px; }
  @media (min-width: 360px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1680px) {
    html {
      font-size: 20px; } }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #9f9f9f;
  letter-spacing: 1px; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

button {
  background: none;
  border: 0;
  padding: 0; }

p {
  margin: 1rem 0; }

h1, .h1 {
  font-size: 2rem;
  letter-spacing: 0;
  margin-bottom: 2rem; }

h2, .h2 {
  font-size: 1.5rem;
  letter-spacing: 0;
  margin-bottom: 2rem; }

h3, .h3, .boxes__box__title {
  font-size: 1.25rem;
  letter-spacing: 0;
  margin-bottom: 2rem; }

.wrapper {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 74rem; }
  @media (min-width: 768px) {
    .wrapper {
      padding-left: 4rem;
      padding-right: 4rem; } }

.component {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2rem;
  min-width: 190px;
  color: #4a90e2;
  border: 1px solid #4a90e2;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase; }
  .btn:hover {
    color: #fff;
    background-color: #4a90e2; }
  .btn--ghost {
    color: #fff;
    background-color: #4a90e2; }
    .btn--ghost:hover {
      color: #4a90e2;
      background-color: #fff; }

.main-nav, .hero__cont--shadow {
  text-shadow: 1.5px 1.5px #000; }

.nav-btn span, .nav-btn span::after, .nav-btn span::before, .graphic__img {
  -webkit-box-shadow: 1.5px 1.5px 1.5px #000;
          box-shadow: 1.5px 1.5px 1.5px #000; }

.clearfix::before, .clearfix::after {
  content: " ";
  display: table; }

.clearfix::after {
  clear: both; }

.main-hdr {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 20;
  overflow: hidden;
  color: #fff; }
  @media (max-width: 1199px) {
    .nav-open .main-hdr {
      height: 100vh; } }
  .main-hdr .wrapper {
    position: relative; }
  .main-hdr li {
    text-align: center;
    padding: 0.4rem;
    border-bottom: 1px solid #fff; }
  .main-hdr li:last-child {
    border-bottom: 0; }

.hdr-logo {
  position: absolute;
  left: 2rem;
  top: 1rem;
  width: 60px; }
  @media (min-width: 768px) {
    .hdr-logo {
      left: 4rem; } }

.main-nav {
  padding-top: 4rem; }
  @media (min-width: 1200px) {
    .main-nav {
      position: absolute;
      top: 0;
      right: 2rem;
      padding-top: 1rem; }
      .main-nav li {
        float: left;
        margin-left: 1rem;
        border: 0; } }

.nav-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  padding: 2rem; }
  @media (min-width: 1200px) {
    .nav-btn {
      display: none; } }
  .nav-btn span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -0.5rem;
    height: 0.125rem;
    width: 1rem;
    background-color: #fff; }
    .nav-btn span::after, .nav-btn span::before {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      background-color: #fff;
      margin-left: -0.5rem;
      height: 0.125rem;
      width: 1rem; }
    .nav-btn span::after {
      margin-top: -0.25rem; }
    .nav-btn span::before {
      margin-top: 0.25rem; }

.hero {
  position: relative;
  height: 450px;
  margin-top: 0;
  color: #fff;
  background-color: #9f9f9f;
  background: #9f9f9f url(../img/hero-mob.jpg) no-repeat 50% 0; }
  @media (min-width: 768px) {
    .hero {
      height: 600px;
      background-image: url(../img/hero-tab.jpg); } }
  @media (min-width: 1200px) {
    .hero {
      background-image: url(../img/hero-desk.jpg); } }
  @media (orientation: landscape) and (min-width: 1024px) {
    .hero {
      height: 100vh;
      min-height: 450px;
      background-size: cover; } }
  .hero__cont {
    z-index: 3;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media (orientation: landscape) and (min-width: 1024px) {
      .hero__cont {
        top: unset;
        bottom: 6rem;
        -webkit-transform: none;
                transform: none; } }
  .hero::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, transparent 1px, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.2) 2px, transparent 2px), linear-gradient(to left, transparent 1px, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.2) 2px, transparent 2px);
    background-size: 2px 2px; }

.main-foot__nav {
  margin-bottom: 4rem;
  margin-left: -2rem;
  margin-right: -2rem; }
  @media (min-width: 1200px) {
    .main-foot__nav {
      padding-bottom: 1px; } }
  .main-foot__nav__col {
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    float: left;
    width: 50%;
    /*display: inline-block;
            vertical-align: top;
            width: 25%;
            font-size: $body-font-size;*/ }
    .main-foot__nav__col:nth-child(odd) {
      clear: both; }
    @media (min-width: 1200px) {
      .main-foot__nav__col {
        width: 25%; }
        .main-foot__nav__col:nth-child(odd) {
          clear: none; } }
  .main-foot__nav__cat {
    display: inline-block;
    font-weight: 700;
    color: #333;
    margin-top: 0;
    margin-bottom: 2rem; }

.main-foot__copy {
  margin-top: 2rem;
  font-size: 0.75rem; }

.boxes__cont {
  margin-left: -1rem;
  margin-right: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.boxes__box {
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 420px) {
    .boxes__box {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%; } }
  @media (min-width: 768px) {
    .boxes__box {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 33%;
              flex: 0 1 33%; } }
  @media (min-width: 1200px) {
    .boxes__box {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 25%;
              flex: 0 1 25%; } }
  .boxes__box--radius {
    text-align: center; }
    .boxes__box--radius .boxes__box__img {
      border-radius: 50%;
      overflow: hidden; }
  .boxes__box__img {
    margin-bottom: 2rem; }
    .boxes__box__img img {
      vertical-align: middle; }
    .boxes__box__img--elastic {
      overflow: hidden;
      position: relative;
      padding-bottom: 100%;
      background-color: #6f6f6f; }
      .boxes__box__img--elastic img {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
  .boxes__box__title {
    margin-bottom: 1rem;
    color: #333; }
    @media (max-width: 359px) {
      .boxes__box__title {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1; } }
  .boxes__box__txt {
    font-size: 0.75rem; }

.graphic__img {
  vertical-align: middle;
  max-width: none;
  width: 100%; }

.graphic__hdr {
  margin-top: 1rem;
  font-size: 0.75rem; }

.video {
  position: relative; }
  .video .wrapper {
    padding-bottom: 55%; }
  .video__cont {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .video__cont video {
      height: 100%; }
  .video__controls {
    position: absolute;
    bottom: 14%; }
    .video__controls__pause, .video__controls__play {
      position: absolute;
      left: 0;
      bottom: 0; }
    .video__controls__pause {
      display: none; }
    .playing .video__controls__pause {
      display: block; }
    .playing .video__controls__play {
      display: none; }
  .video__hdr {
    position: absolute;
    color: #fff;
    top: 5%; }
  .video__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #4a90e2; }
